<div class="chat-box">
    <!-- <div class="chat-title"> -->
    <div class="chat-title">

        <img src="../../assets/images/profile.jpg">
        <h5 class="ms-2">{{receiver}}</h5>
        <button class="btn btn-danger" (click)="blockUser()">block</button>
    </div>
    <div class="chat-body" >

        <h5 class="text-center">Send private photos and messages <br> to a friend or group.</h5>
    </div>
    <div class="chat-body" id="chat-body" >

        <div class="chat-content" id="chat-content" >
            <!-- <img src="../../assets/images/profile.jpg" class="chat-head">
            <p> <b class="text-light">{{chatService.usernm}}</b><br>{{i.message}}</p> -->
        </div>
        
        <!-- <div class="chat-content chat-content-2"> 
            <img src="../../assets/images/profile.jpg" class="chat-head">
            <p>Lorem Lorem ipsum is the Lorem ipsum is the Lorem ipsum is the ipsum is the</p>
        </div> -->
    </div>
    <div class="chat-footer" >
        <form class="message_form" #msgForm="ngForm" (ngSubmit)="sendMessage()" id="msgForm">
        <!-- <form class="message_form" *ngIf="chatService.usernm" ngModel="ngForm" > -->

        <!-- <form class="message_form" *ngIf="chatService.usernm" ngModel="ngForm" (ngSubmit)="sendmessage(chatService.usernm)"> -->
          <textarea placeholder="Type your message here..." id="messages" rows="1" [(ngModel)]="message" name="message" required></textarea>
            <input type="submit" class="btn btn-success" value="send" [disabled]="msgForm.invalid">
        </form>
    </div>
</div>