<div class="inner-section">
    <div class="container">
        <div class="register-box">
                <div class="tab-content" id="myTabContent">
             
                <div  id="login" role="tabpanel" aria-labelledby="login-tab">
                    <h3 class="mb-4 text-center">Log in</h3>
                    <form class="custom-form" (ngSubmit)="login()">
                        <input type="text" placeholder="UserName" name="loginUsername" class="form-control" [(ngModel)]="User.loginusername"><br>
                        <input type="password" placeholder="Password" name="loginPassword" class="form-control" [(ngModel)]="User.loginpassword"><br>
                        <label class="error-msg" *ngIf="login_error">Invalid username or password</label>
                        <input class="primary-btn btn" value="login" type="submit">
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>