<div class="container bootstrap snippet mt-5 admin-panel">
    <h3>Select your chat room</h3>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6">
        <div class="circle-tile ">
          <a  routerLink="/chat"><div class="circle-tile-heading dark-blue"><i class="fa fa-user fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content dark-blue">
            <div class="circle-tile-description text-faded"> </div>
            <div class="circle-tile-number text-faded ">ROOM 1</div>
              </div>
        </div>
      </div>
       <br>
      <div class="col-lg-4 col-sm-6">
        <div class="circle-tile ">
          <a routerLink="/chat"><div class="circle-tile-heading red"><i class="fa fa-user fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content red">
              <div class="circle-tile-number text-faded ">Room 2</div>
           </div>
        </div>
      </div> 
  
      <div class="col-lg-4 col-sm-6">
        <div class="circle-tile ">
          <a routerLink="/chat"><div class="circle-tile-heading green"><i class="fa fa-user fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content green">
            <!-- <div class="circle-tile-description text-faded"> Add</div> -->
            <div class="circle-tile-number text-faded ">Room 3</div>
            <!-- <a class="circle-tile-footer" routerLink="/AddHall"> <i class="fa fa-chevron-circle-right"></i></a> -->
          </div>
        </div>
      </div>
       
    </div> 
  </div>
